$bp-largest: 75em;      //1200px/16
$bp-large: 68.75em;     //1100px/16
$bp-medium: 56.25em;     //900px/16
$bp-small: 38.75em;     //620px/16
$bp-smallest: 31.25em;     //500px/16
$bp-low: 25em;             //400/16
$bp-lowest: 18.75em;        //300/16